html {
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inconsolata', monospace;
}
.nav {
  height: 100%;
  width: 140px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  border-right: 2px solid;
  padding-left: 4px;
}

.nav-link {
  margin-bottom: 5px;
  text-decoration: none;
  color: black;
  display: inline-block;
  position: relative;
  padding-right: 60px;
}

.nav-link:hover {
  color: white;
  background-color: black;
}

.nav-link:hover::after {
  color: black;
  border-left: 10px solid;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  display: inline-block;
  content: "";
  position: absolute;
  right: -10px;
}

/*TODO(ecarlin): Remove duplicate code with nav-link */
.nav-link-selected {
  color: white;
  background-color: black;
}

.nav-link-selected::after {
  color: black;
  border-left: 10px solid;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  display: inline-block;
  content: "";
  position: absolute;
  right: -10px;
}

span {
  padding-left: 10px;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}
