{{ define "main" }}
<main class="main">
    <h1>{{ .Title }}</h1>
    <ul class="patterns-list">
        {{ range .Pages.ByPublishDate.Reverse }}
        <li>
            <h2>
                <a href="{{ .Permalink }}">
                    {{ .Title }}
                </a>
            </h2>
        </li>
        {{ end }}
    </ul>
</main>
{{ end }}