<head>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css" />
    <script src="{{ .Site.BaseURL }}js/nav.js"></script>
</head>