<nav class="nav">
    <h1>Evan Carlin</h1>
    {{ $currentPage := . }}
    {{ range .Site.Menus.nav }}
    {{ $selected :=  or ($currentPage.IsMenuCurrent "nav" .) ($currentPage.HasMenuCurrent "nav" .) }}
    {{ $selected = or $selected (eq .Name $currentPage.Title) }}
    <a href="{{ .URL }}" class="nav-link {{ if $selected}}nav-link-selected{{end}}">
        <span>{{ .Name }}</span>
    </a>
    {{ end }}
</nav>